@font-face {
    font-family: 'ONE Mobile Title';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/ONEMobileTitle/ONEMobileTitle.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/ONEMobileTitle/ONEMobileTitle.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/ONEMobileTitle/ONEMobileTitle.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/ONEMobileTitle/ONEMobileTitle.ttf') format('truetype');
}
